**/bin/
**/obj/
.vs/
node_modules/
dist/
.vite/
.env

# VS Code
.vscode/
**/.vscode/


# Environment secrets
.env
**/.env

# Ignorar logs do C#
Magic-casino-sportbook/logs/
Magic-casino-slot/logs/
Magic-casino/logs/
*.log
*.txt